<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="ResourceModel" value="DMM3458" />
    <add key="ResourceName" value="tcpip0::192.168.0.255::gpib0,24::INSTR" />
    <add key="ResourceTitle" value="DMM3458" />
  </appSettings>
</configuration>
