<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="ResourceModel" value="HP3458A" />
    <add key="ResourceName" value="tcpip0::192.168.0.254::gpib0,7::INSTR" />
    <add key="ResourceTitle" value="DMM3458" />
    <add key="AutoZero" value="1" />
    <add key="SenseFunction" value="5" />
    <add key="PowerLineCycles" value="20" />
    <add key="MathMode" value="10" />
    <add key="StoreMathRegister" value="8" />
    <add key="StoreMathValue" value="10" />
  </appSettings>
</configuration>
