<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup" >
      <section name="isr.VI.Try.MovingWindowTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Try.PolyFitTestInfo" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Exists" value="True" />
    <add key="Verbose" value="True" />
    <add key="ExecutingAssemblyLocation" value="C:\My\LIBRARIES\VS\Core\Core\Tests\Try\bin\debug" />
    <add key="TraceEventProjectIdentitiesFileName" value="C:\My\LIBRARIES\VS\IO\VI\Resource\Pith\My\TraceEventIds.txt" />
  </appSettings>

  <userSettings>
    <isr.VI.Try.MovingWindowTestInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="All" serializeAs="String">
        <value>False</value>
      </setting>

      <!-- NO FAILUREs -->
      <setting name="MovingWindowLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WindowLowBound" serializeAs="String">
        <value>-0.05</value>
      </setting>
      <setting name="WindowHighBound" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="Value1" serializeAs="String">
        <value>5</value>
      </setting>

      <!-- OVERFLOW -->
      <setting name="OverflowLowBound" serializeAs="String">
        <value>-105</value>
      </setting>
      <setting name="OverflowHighBound" serializeAs="String">
        <value>105</value>
      </setting>

    </isr.VI.Try.MovingWindowTestInfo>

      <isr.VI.Try.PolyFitTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="All" serializeAs="String">
        <value>True</value>
      </setting>

        <setting name="PartNumber" serializeAs="String">
          <value>114833</value>
        </setting>
        <setting name="MinimumElementCount" serializeAs="Integer">
          <value>3</value>
        </setting>

      </isr.VI.Try.PolyFitTestInfo>
  
</userSettings>

</configuration>
