<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="isr.VI.K3700.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
        <assemblyBinding>
            <dependentAssembly>
                <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral"/>
                <bindingRedirect oldVersion="13.0.40.168"  newVersion="13.5.40.173"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <isr.VI.K3700.My.MySettings>
            <setting name="MinimumSplashScreenDisplayMilliseconds" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>Verbose</value>
            </setting>
        </isr.VI.K3700.My.MySettings>
    </userSettings>
</configuration>
