<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="ResourceModel" value="DMM7510" />
    <add key="ResourceName" value="TCPIP0::192.168.0.144::inst0::INSTR" />
    <add key="ResourceTitle" value="DMM7510" />
    <add key="ResourceTitle" value="7510" />
    <add key="Language" value="TSP" />
    <add key="LineFrequency" value="60" />

    <add key="KeepAliveQueryCommand" value="*OPC?" />
    <add key="KeepAliveCommand" value="*OPC" />
    <add key="ReadTerminationEnabled" value="False" />
    <add key="TerminationCharacter" value="10" />

    <add key="AutoZeroEnabled" value="True" />
    <add key="AutoRangeEnabled" value="True" />
    <add key="SenseFunction" value="3" />
    <add key="PowerLineCycles" value="1" />

  </appSettings>
</configuration>
