<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="NationalInstrumentVisaVersion" value="17.0.0" />
    <add key="FoundationVisaFileVersion32" value="5.8.908" />
    <add key="FoundationVisaFileVersion64" value="17.0.0" />
  </appSettings>
</configuration>
