<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="isr.VI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Verbose"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <isr.VI.My.MySettings>
            <setting name="DevicesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimumSplashScreenDisplayMilliseconds" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>Verbose</value>
            </setting>
            <setting name="PrimaryAddress" serializeAs="String">
                <value>26</value>
            </setting>
        </isr.VI.My.MySettings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
        <assemblyBinding>
           <!-- No way to resolve conflict between "Ivi.Visa, Version=5.8.0.0, Culture=neutral, PublicKeyToken=a128c98f1d7717c1" 
                                               and "Ivi.Visa, Version=5.6.0.0, Culture=neutral, PublicKeyToken=a128c98f1d7717c1". 
                                               Choosing "Ivi.Visa, Version=5.8.0.0, Culture=neutral, PublicKeyToken=a128c98f1d7717c1" arbitrarily.
           -->
          <dependentAssembly>
            <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
            <bindingRedirect oldVersion= "5.6.0.0" newVersion="5.8.0.0"/>
          </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding>
            <dependentAssembly>
                <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral"/>
                <bindingRedirect oldVersion= "13.0.40.168" newVersion="13.5.40.173"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
