<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="isr.VI.Tsp2.K2450.Tests.K2450ResourceInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp2.K2450.Tests.K2450SubsystemsInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp2.K2450.Tests.K2450ResistanceTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp2.K2450.Tests.K2450CurrentSourceTestInfo" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="Verbose" value="True" />
    <add key="All" value="True" />
    <add key="FirstTimeZone" value="Pacific Standard Time" />
    <add key="FirstTimeZoneOffset" value="-8" />
    <add key="SecondTimeZone" value="Central Standard Time" />
    <add key="SecondTimeZoneOffset" value="-6" />
    <add key="LocalIPv4" value="192.168" />
    <add key="SecondIPv4" value="20.1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <!-- 2450 RESOURCE INFO -->
    <isr.VI.Tsp2.K2450.Tests.K2450ResourceInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- RESOURCE -->
      <setting name="ResourceModel" serializeAs="String">
        <value>2450</value>
      </setting>
      <setting name="FirstResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.152::inst0::INSTR</value>
      </setting>
      <setting name="SecondResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.156::inst0::INSTR</value>
      </setting>
      <setting name="ThirdResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.21::inst0::INSTR</value>
      </setting>
      <setting name="FourthResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.24::inst0::INSTR</value>
      </setting>
      <setting name="ResourceTitle" serializeAs="String">
        <value>2450</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>TSP</value>
      </setting>
    </isr.VI.Tsp2.K2450.Tests.K2450ResourceInfo>
    
    <!-- 2450 SUBSYSTEMS INFO -->
    <isr.VI.Tsp2.K2450.Tests.K2450SubsystemsInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- VISA SESSION -->
      <setting name="KeepAliveQueryCommand" serializeAs="String">
        <value>*OPC?</value>
      </setting>
      <setting name="KeepAliveCommand" serializeAs="String">
        <value>*OPC</value>
      </setting>
      <setting name="ReadTerminationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TerminationCharacter" serializeAs="String">
        <value>10</value>
      </setting>
      <!-- INITIAL MEASURE VALUES -->
      <setting name="InitialPowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InitialAutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialAutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialMeasureFunction" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="InitialRemoteSenseSelected" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- SMU SETTINGS -->
      <setting name="LineFrequency" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MaximumOutputPower" serializeAs="String">
        <value>22</value>
      </setting>
      <!-- INITIAL SOURCE VALUES -->
      <setting name="InitialFrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialSourceFunction" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InitialAutoDelayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialSourceLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InitialSourceLimit" serializeAs="String">
        <value>0.000105</value>
      </setting>
      <!-- DEVICE ERRORS -->
      <setting name="ErroneousCommand" serializeAs="String">
        <value>*CLL</value>
      </setting>
      <!-- 140 ms does not work -->
      <setting name="ErrorAvailableMillisecondsDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExpectedErrorMessage" serializeAs="String">
        <value>-285,TSP Syntax error at line 1: unexpected symbol near `*',level=1</value>
      </setting>
    </isr.VI.Tsp2.K2450.Tests.K2450SubsystemsInfo>
    <!-- 2450 RESISTANCE -->
    <isr.VI.Tsp2.K2450.Tests.K2450ResistanceTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- RESISTANCE MEASUREMENT: SETTINGS -->
      <setting name="FrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteSenseSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceFunction" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SourceLevel" serializeAs="String">
        <value>0.02</value>
      </setting>
      <!-- RESISTANCE MEASUREMENT: VALUE -->
      <setting name="ExpectedResistance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ResistanceTolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
    </isr.VI.Tsp2.K2450.Tests.K2450ResistanceTestInfo>
    
    <!-- 2450 CURRENT SOURCE -->
    <isr.VI.Tsp2.K2450.Tests.K2450CurrentSourceTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- CURRENT SOURCE SETTINGS -->
      <setting name="FrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteSenseSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceReadBackEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceFunction" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SourceLevel" serializeAs="String">
        <value>0.01</value>
      </setting>
      <!-- LOAD VALUE -->
      <setting name="LoadResistance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MeasurementTolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
    </isr.VI.Tsp2.K2450.Tests.K2450CurrentSourceTestInfo>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>