<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup" >
      <section name="isr.VI.K2450.Tests.K2450ResourceInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.K2450.Tests.K2450CurrentSourceInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.K3700.Tests.K3700ResourceInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.K3700.Tests.K3730TestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.K2450K3700.Tests.StructureTestInfo" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Exists" value="True" />
    <add key="Verbose" value="True" />
    <add key="All" value="True" />
    <add key="FirstTimeZone" value="Pacific Standard Time" />
    <add key="FirstTimeZoneOffset" value="-8" />
    <add key="SecondTimeZone" value="Central Standard Time" />
    <add key="SecondTimeZoneOffset" value="-6" />
    <add key="LocalIPv4" value ="192.168"/>
    <add key="SecondIPv4" value ="20.1"/>
  </appSettings>

  <userSettings>
    
     <!-- K2450 DEVICE TEST -->
    <isr.VI.K2450.Tests.K2450ResourceInfo>
      
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- RESOURCE -->
      <setting name="ResourceModel"  serializeAs="String">
        <value>2450</value>
      </setting>
      <setting name="FirstResourceName"  serializeAs="String">
        <value>TCPIP0::192.168.0.152::inst0::INSTR</value>
      </setting>
      <setting name="SecondResourceName"  serializeAs="String">
        <value>TCPIP0::192.168.0.156::inst0::INSTR</value>
      </setting>
      <setting name="ThirdResourceName"  serializeAs="String">
        <value>TCPIP0::20.1.1.21::inst0::INSTR</value>
      </setting>
      <setting name="FourthResourceName"  serializeAs="String">
        <value>TCPIP0::20.1.1.24::inst0::INSTR</value>
      </setting>
      <setting name="ResourceTitle"  serializeAs="String">
        <value>2450</value>
      </setting>

    </isr.VI.K2450.Tests.K2450ResourceInfo>

    <!-- 2450 CURRENT SOURCE -->
    <isr.VI.K2450.Tests.K2450CurrentSourceTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- CURRENT SOURCE SETTINGS -->
      <setting name="FrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteSenseSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceReadBackEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceFunction" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SourceLevel" serializeAs="String">
        <value>0.01</value>
      </setting>
      <!-- LOAD VALUE -->
      <setting name="LoadResistance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MeasurementTolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
    </isr.VI.K2450.Tests.K2450CurrentSourceTestInfo>

    <!-- K3700 RESOURCE -->
    <isr.VI.K3700.Tests.K3700ResourceInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- RESOURCE -->
      <setting name="ResourceModel" serializeAs="String">
        <value>3706A</value>
      </setting>
      <setting name="FirstResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.132::inst0::INSTR</value>
      </setting>
      <setting name="SecondResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.148::inst0::INSTR</value>
      </setting>
      <setting name="ThirdResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.21::inst0::INSTR</value>
      </setting>
      <setting name="FourthResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.24::inst0::INSTR</value>
      </setting>
      <setting name="ResourceTitle" serializeAs="String">
        <value>3706</value>
      </setting>
    </isr.VI.K3700.Tests.K3700ResourceInfo>

    <!-- K3730 Matrix Resistance -->
    <isr.VI.K3700.Tests.K3730TestInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>

      <!-- RESISTANCE MEASUREMENT -->
      <setting name="ShortChannelList" serializeAs="String">
        <value>2109;2209;2911;2912</value>
      </setting>
      <setting name="ResistorChannelList" serializeAs="String">
        <value>2101;2201;2911;2912</value>
      </setting>
      <setting name="OpenChannelList" serializeAs="String">
        <value>2110;2210;2911;2912</value>
      </setting>

      <setting name="ExpectedZeroResistanceEpsilon" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ExpectedShort32ResistanceEpsilon" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="ExpectedResistance" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ExpectedResistanceEpsilon" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="ExpectedOpen" serializeAs="String">
        <value>9.9E+37</value>
      </setting>

    </isr.VI.K3700.Tests.K3730TestInfo>

    <isr.VI.K2450K3700.Tests.StructureTestInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <setting name="FrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SlotNumber" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ResistanceTolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="R1" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R2" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R3" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R4" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R5" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R6" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R7" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R8" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R9" serializeAs="String">
        <value>0.012</value>
      </setting>
      <setting name="R10" serializeAs="String">
        <value>0.012</value>
      </setting>

    </isr.VI.K2450K3700.Tests.StructureTestInfo>

  </userSettings>

</configuration>
