<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup" >
      <section name="isr.VI.Tsp.K3700.Tests.DeviceTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.ResistanceTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.GageBoardTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.BridgeMeterTestInfo" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Exists" value="True" />
    <add key="Verbose" value="True" />
    <add key="All" value="True" />
    <add key="LocalTimeZone" value="Pacific Standard Time" />
    <add key="LocalTimeZoneOffset" value="-8" />
    <add key="RemoteTimeZone" value="Pacific Standard Time" />
    <add key="RemoteTimeZoneOffset" value="-8" />
    <add key="LocalIPv4" value ="192.168"/>
    <add key="RemoteIPv4" value ="20.1"/>
    <add key="ApplicationFileName" value ="isr.Core.Pith.Tests.dll"/>
  </appSettings>

  <userSettings>

    <!-- K3700 -->
    <isr.VI.Tsp.K3700.Tests.DeviceTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- RESOURCE -->
      <setting name="ResourceModel"  serializeAs="String">
        <value>3706A</value>
      </setting>
      <setting name="LocalResourceName"  serializeAs="String">
        <value>TCPIP0::192.168.0.148::inst0::INSTR</value>
      </setting>
      <setting name="RemoteResourceName"  serializeAs="String">
        <value>TCPIP0::20.1.1.24::inst0::INSTR</value>
      </setting>
      <setting name="ResourceTitle"  serializeAs="String">
        <value>3706</value>
      </setting>
      <setting name="LineFrequency"  serializeAs="String">
        <value>60</value>
      </setting>

      <!-- VISA SESSION -->
      <setting name="KeepAliveQueryCommand" serializeAs="String">
        <value>*OPC?</value>
      </setting>
      <setting name="KeepAliveCommand"  serializeAs="String">
        <value>*OPC</value>
      </setting>
      <setting name="ReadTerminationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TerminationCharacter" serializeAs="String">
        <value>10</value>
      </setting>

      <!-- 3706 INITIAL VALUES -->
      <setting name="InitialPowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InitialAutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialAutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialSenseFunction" serializeAs="String">
        <value>4</value>
      </setting>

    </isr.VI.Tsp.K3700.Tests.DeviceTestInfo>

    <!-- GAGE BOARD -->
    <isr.VI.Tsp.K3700.Tests.GageBoardTestInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunctionMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>

      <!-- RTD MEASUREMENT -->      
      <setting name="FirstRtdChannelList" serializeAs="String">
        <value>1001;1031;1912;1921</value>
      </setting>
      <setting name="RtdAmbientResistance" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="RtdResistanceEpsilon" serializeAs="String">
        <value>5</value>
      </setting>

      <!-- GAUGE MEASUREMENT -->
      <setting name="FirstGaugeChannelList" serializeAs="String">
        <value>1002;1032;1912;1921</value>
      </setting>
      <setting name="GaugeAmbientResistance" serializeAs="String">
        <value>1050</value>
      </setting>
      <setting name="GaugeResistanceEpsilon" serializeAs="String">
        <value>50</value>
      </setting>

    </isr.VI.Tsp.K3700.Tests.GageBoardTestInfo>

    <!-- RESISTANCE -->
    <isr.VI.Tsp.K3700.Tests.ResistanceTestInfo>
      
        <!-- CONFIGURATION -->
        <setting name="Exists" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Verbose" serializeAs="String">
          <value>True</value>
        </setting>

        <!-- MEASUREMENT SETTINGS -->
        <setting name="AutoZeroEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AutoRangeEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SenseFunction" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="PowerLineCycles" serializeAs="String">
          <value>1</value>
        </setting>

        <!-- RESISTANCE MEASUREMENT -->
        <setting name="ShortChannelList" serializeAs="String">
          <value>1030;1060;1912;1921</value>
        </setting>
        <setting name="ResistorChannelList" serializeAs="String">
          <value>1028;1058;1912;1921</value>
        </setting>
        <setting name="OpenChannelList" serializeAs="String">
          <value>1029;1059;1912;1921</value>
        </setting>

        <setting name="ExpectedZeroResistanceEpsilon" serializeAs="String">
          <value>0.001</value>
        </setting>
        <setting name="ExpectedShort32ResistanceEpsilon" serializeAs="String">
          <value>0.05</value>
        </setting>
        <setting name="ExpectedResistance" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ExpectedResistanceEpsilon" serializeAs="String">
          <value>0.1</value>
        </setting>
        <setting name="ExpectedOpen" serializeAs="String">
          <value>9.9E+37</value>
        </setting>

    </isr.VI.Tsp.K3700.Tests.ResistanceTestInfo>

      <!-- BRIDGE METER  -->
    <isr.VI.Tsp.K3700.Tests.BridgeMeterTestInfo>

      <setting name="R1ChannelList" serializeAs="String">
        <value>1001;1031;1912;1921</value>
      </setting>
      <setting name="R2ChannelList" serializeAs="String">
        <value>1002;1032;1912;1921</value>
      </setting>
      <setting name="R3ChannelList" serializeAs="String">
        <value>1003;1033;1912;1921</value>
      </setting>
      <setting name="R4ChannelList" serializeAs="String">
        <value>1004;1034;1912;1921</value>
      </setting>

      <setting name="LocalBridgeNumber" serializeAs="String">
        <value>101868</value>
      </setting>
      <setting name="LocalBridgeR1" serializeAs="String">
        <value>491</value>
      </setting>
      <setting name="LocalBridgeR2" serializeAs="String">
        <value>486</value>
      </setting>
      <setting name="LocalBridgeR3" serializeAs="String">
        <value>491</value>
      </setting>
      <setting name="LocalBridgeR4" serializeAs="String">
        <value>488</value>
      </setting>

      <!--Is rather high to allow temperature effects. -->
      <setting name="BridgeMeterEpsilon" serializeAs="String">
        <value>5</value>
      </setting>

      <setting name="RemoteBridgeNumber" serializeAs="String">
        <value>96353</value>
      </setting>
      <setting name="RemoteBridgeR1" serializeAs="String">
        <value>464</value>
      </setting>
      <setting name="RemoteBridgeR2" serializeAs="String">
        <value>462</value>
      </setting>
      <setting name="RemoteBridgeR3" serializeAs="String">
        <value>464</value>
      </setting>
      <setting name="RemoteBridgeR4" serializeAs="String">
        <value>465</value>
      </setting>

      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunctionMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>

    </isr.VI.Tsp.K3700.Tests.BridgeMeterTestInfo>

  </userSettings>

</configuration>
