<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="isr.VI.Tsp.K3700.Tests.K3700ResourceInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.K3700SubsystemsInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.ResistanceTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.K3720TestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.K3730TestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.GageBoardTestInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp.K3700.Tests.BridgeMeterTestInfo" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="Verbose" value="True" />
    <add key="All" value="True" />
    <add key="LocalTimeZone" value="Pacific Standard Time" />
    <add key="LocalTimeZoneOffset" value="-8" />
    <add key="RemoteTimeZone" value="Pacific Standard Time" />
    <add key="RemoteTimeZoneOffset" value="-8" />
    <add key="LocalIPv4" value="192.168" />
    <add key="RemoteIPv4" value="20.1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <userSettings>
  
    <!-- K3700 RESOURCE -->
    <isr.VI.Tsp.K3700.Tests.K3700ResourceInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- RESOURCE -->
      <setting name="ResourceModel" serializeAs="String">
        <value>3706A</value>
      </setting>
      <setting name="FirstResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.132::inst0::INSTR</value>
      </setting>
      <setting name="SecondResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.148::inst0::INSTR</value>
      </setting>
      <setting name="ThirdResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.21::inst0::INSTR</value>
      </setting>
      <setting name="FourthResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.24::inst0::INSTR</value>
      </setting>
      <setting name="ResourceTitle" serializeAs="String">
        <value>3706</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.K3700ResourceInfo>
    
    <!-- K3700 SUBSYSTEMS -->
    <isr.VI.Tsp.K3700.Tests.K3700SubsystemsInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      
      <!-- VISA SESSION -->
      <setting name="KeepAliveQueryCommand" serializeAs="String">
        <value>*OPC?</value>
      </setting>
      <setting name="KeepAliveCommand" serializeAs="String">
        <value>*OPC</value>
      </setting>
      <setting name="ReadTerminationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TerminationCharacter" serializeAs="String">
        <value>10</value>
      </setting>

      <!-- STATUS -->
      <setting name="LineFrequency" serializeAs="String">
        <value>60</value>
      </setting>

      <!-- INITIAL VALUES -->
      <setting name="InitialPowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InitialAutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialAutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialSenseFunction" serializeAs="String">
        <value>4</value>
      </setting>
      
      <!-- DEVICE ERRORS -->
      <setting name="ErroneousCommand" serializeAs="String">
        <value>*CLL</value>
      </setting>
      <setting name="ErrorAvailableMillisecondsDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExpectedErrorMessage" serializeAs="String">
        <value>-285,TSP Syntax Error at line 1: unexpected symbol near `*',level=20</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.K3700SubsystemsInfo>

    <!-- K3720 MULTIPLEXER RESISTANCE  SLOT 1 -->
    <isr.VI.Tsp.K3700.Tests.K3720TestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      
      <!-- RESISTANCE MEASUREMENT SLOT 1 -->
      <setting name="ShortChannelList" serializeAs="String">
        <value>1030;1060;1912;1921</value>
      </setting>
      <setting name="ResistorChannelList" serializeAs="String">
        <value>1028;1058;1912;1921</value>
      </setting>
      <setting name="OpenChannelList" serializeAs="String">
        <value>1029;1059;1912;1921</value>
      </setting>
      <setting name="ExpectedZeroResistanceEpsilon" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="ExpectedShort32ResistanceEpsilon" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="ExpectedResistance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ExpectedResistanceEpsilon" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ExpectedOpen" serializeAs="String">
        <value>9.9E+37</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.K3720TestInfo>
    
    <!-- K3720 MATRIX RESISTANCE SLOT 2 -->
    <isr.VI.Tsp.K3700.Tests.K3730TestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- RESISTANCE MEASUREMENT -->
      <setting name="ShortChannelList" serializeAs="String">
        <value>2109;2209;2911;2912</value>
      </setting>
      <setting name="ResistorChannelList" serializeAs="String">
        <value>2101;2201;2911;2912</value>
      </setting>
      <setting name="OpenChannelList" serializeAs="String">
        <value>2110;2210;2911;2912</value>
      </setting>
      <setting name="ExpectedZeroResistanceEpsilon" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ExpectedShort32ResistanceEpsilon" serializeAs="String">
        <value>0.30</value>
      </setting>
      <setting name="ExpectedResistance" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ExpectedResistanceEpsilon" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="ExpectedOpen" serializeAs="String">
        <value>9.9E+37</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.K3730TestInfo>
    
    <!-- RESISTANCE SLOT 1 -->
    <isr.VI.Tsp.K3700.Tests.ResistanceTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- RESISTANCE MEASUREMENT -->
      <setting name="ShortChannelList" serializeAs="String">
        <value>1030;1060;1912;1921</value>
      </setting>
      <setting name="ResistorChannelList" serializeAs="String">
        <value>1028;1058;1912;1921</value>
      </setting>
      <setting name="OpenChannelList" serializeAs="String">
        <value>1029;1059;1912;1921</value>
      </setting>
      <setting name="ExpectedZeroResistanceEpsilon" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="ExpectedShort32ResistanceEpsilon" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="ExpectedResistance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ExpectedResistanceEpsilon" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ExpectedOpen" serializeAs="String">
        <value>9.9E+37</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.ResistanceTestInfo>
    
    <!-- GAGE BOARD SLOT 3 -->
    <isr.VI.Tsp.K3700.Tests.GageBoardTestInfo>
      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunctionMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- RTD MEASUREMENT -->
      <setting name="FirstRtdChannelList" serializeAs="String">
        <value>3001;3031;3912;3921</value>
      </setting>
      <setting name="RtdAmbientResistance" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="RtdResistanceEpsilon" serializeAs="String">
        <value>5</value>
      </setting>
      <!-- GAUGE MEASUREMENT -->
      <setting name="FirstGaugeChannelList" serializeAs="String">
        <value>3002;3032;3912;3921</value>
      </setting>
      <setting name="GaugeAmbientResistance" serializeAs="String">
        <value>1050</value>
      </setting>
      <setting name="GaugeResistanceEpsilon" serializeAs="String">
        <value>50</value>
      </setting>
      <!-- TWO WIRE RTD CIRCUIT MEASUREMENT -->
      <setting name="TwoWireRtdSenseChannelList" serializeAs="String">
        <value>3001;3911;3912</value>
      </setting>
      <setting name="TwoWireRtdSourceChannelList" serializeAs="String">
        <value>3031;3921;3922</value>
      </setting>
      <!-- TWO WIRE GAGE CIRCUIT MEASUREMENT -->
      <setting name="TwoWireGageSenseChannelList" serializeAs="String">
        <value>3003;3911;3912</value>
      </setting>
      <setting name="TwoWireGageSourceChannelList" serializeAs="String">
        <value>3033;3921;3922</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.GageBoardTestInfo>
 
    <!-- BRIDGE METER SLOT 1  -->
    <isr.VI.Tsp.K3700.Tests.BridgeMeterTestInfo>
      <setting name="R1ChannelList" serializeAs="String">
        <value>1001;1031;1912;1921</value>
      </setting>
      <setting name="R2ChannelList" serializeAs="String">
        <value>1002;1032;1912;1921</value>
      </setting>
      <setting name="R3ChannelList" serializeAs="String">
        <value>1003;1033;1912;1921</value>
      </setting>
      <setting name="R4ChannelList" serializeAs="String">
        <value>1004;1034;1912;1921</value>
      </setting>
      <setting name="LocalBridgeNumber" serializeAs="String">
        <value>101868</value>
      </setting>
      <setting name="LocalBridgeR1" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LocalBridgeR2" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LocalBridgeR3" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LocalBridgeR4" serializeAs="String">
        <value>500</value>
      </setting>
      <!--Is rather high to allow temperature effects. -->
      <setting name="BridgeMeterEpsilon" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="RemoteBridgeNumber" serializeAs="String">
        <value>96353</value>
      </setting>
      <setting name="RemoteBridgeR1" serializeAs="String">
        <value>464</value>
      </setting>
      <setting name="RemoteBridgeR2" serializeAs="String">
        <value>462</value>
      </setting>
      <setting name="RemoteBridgeR3" serializeAs="String">
        <value>464</value>
      </setting>
      <setting name="RemoteBridgeR4" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunctionMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
    </isr.VI.Tsp.K3700.Tests.BridgeMeterTestInfo>
  </userSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>