<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="isr.VI.Tsp2.K7500.Tests.K7510ResourceInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp2.K7500.Tests.K7510SubsystemsInfo" type="System.Configuration.ClientSettingsSection" />
      <section name="isr.VI.Tsp2.K7500.Tests.K7510ResistanceTestInfo" type="System.Configuration.ClientSettingsSection" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Exists" value="True" />
    <add key="Verbose" value="True" />
    <add key="All" value="True" />
    <add key="FirstTimeZone" value="Pacific Standard Time" />
    <add key="FirstTimeZoneOffset" value="-8" />
    <add key="SecondTimeZone" value="Central Standard Time" />
    <add key="SecondTimeZoneOffset" value="-6" />
    <add key="LocalIPv4" value="192.168" />
    <add key="SecondIPv4" value="20.1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <userSettings>

    <!-- 7510 RESOURCE INFO -->
    <isr.VI.Tsp2.K7500.Tests.K7510ResourceInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- RESOURCE -->
      <setting name="ResourceModel" serializeAs="String">
        <value>DMM7510</value>
      </setting>
      <setting name="FirstResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.144::inst0::INSTR</value>
      </setting>
      <setting name="SecondResourceName" serializeAs="String">
        <value>TCPIP0::192.168.0.144::inst0::INSTR</value>
      </setting>
      <setting name="ThirdResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.21::inst0::INSTR</value>
      </setting>
      <setting name="FourthResourceName" serializeAs="String">
        <value>TCPIP0::20.1.1.24::inst0::INSTR</value>
      </setting>
      <setting name="ResourceTitle" serializeAs="String">
        <value>DMM7510</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>SCPI</value>
      </setting>
      <setting name="FirmwareRevision" serializeAs="String">
        <value>1.6.4c</value>
      </setting>
    </isr.VI.Tsp2.K7500.Tests.K7510ResourceInfo>

    <!-- 7510 SUBSYSTEMS INFO -->
    <isr.VI.Tsp2.K7500.Tests.K7510SubsystemsInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- VISA SESSION -->
      <setting name="KeepAliveQueryCommand" serializeAs="String">
        <value>*OPC?</value>
      </setting>
      <setting name="KeepAliveCommand" serializeAs="String">
        <value>*OPC</value>
      </setting>
      <setting name="ReadTerminationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TerminationCharacter" serializeAs="String">
        <value>10</value>
      </setting>

      <!-- INITIAL MEASURE VALUES -->
      <setting name="InitialPowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InitialAutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialAutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitialSenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="InitialRemoteSenseSelected" serializeAs="String">
        <value>False</value>
      </setting>

      <!-- STATUS SETTINGS -->
      <setting name="LineFrequency" serializeAs="String">
        <value>60</value>
      </setting>

      <!-- INITIAL SENSE VALUES -->
      <setting name="InitialFrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- DEVICE ERRORS -->
      <setting name="ErroneousCommand" serializeAs="String">
        <value>*CLL</value>
      </setting>
      <!-- 140 ms does not work -->
      <setting name="ErrorAvailableMillisecondsDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExpectedCompoundErrorMessage" serializeAs="String">
        <value>-113,"Undefined header;1;2018/05/26 14:00:14.871"</value>
      </setting>
      <setting name="ExpectedErrorNumber" serializeAs="String">
        <value>-113</value>
      </setting>
      <setting name="ExpectedErrorMessage" serializeAs="String">
        <value>Undefined header</value>
      </setting>
      <setting name="ExpectedErrorLevel" serializeAs="String">
        <value>1</value>
      </setting>
    </isr.VI.Tsp2.K7500.Tests.K7510SubsystemsInfo>

    <!-- 7510 RESISTANCE -->
    <isr.VI.Tsp2.K7500.Tests.K7510ResistanceTestInfo>

      <!-- CONFIGURATION -->
      <setting name="Exists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>

      <!-- MEASUREMENT SETTINGS -->
      <setting name="AutoZeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenseFunction" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PowerLineCycles" serializeAs="String">
        <value>1</value>
      </setting>

      <!-- RESISTANCE MEASUREMENT: SETTINGS -->
      <setting name="FrontTerminalsSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteSenseSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceFunction" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SourceLevel" serializeAs="String">
        <value>0.02</value>
      </setting>

      <!-- RESISTANCE MEASUREMENT: VALUE -->
      <setting name="ExpectedResistance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ResistanceTolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
    </isr.VI.Tsp2.K7500.Tests.K7510ResistanceTestInfo>

  </userSettings>

</configuration>
