<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="ResourceModel" value="2450" />
    <add key="IsrResourceName" value="TCPIP0::192.168.0.152::inst0::INSTR" />
    <add key="MicronResourceName" value="TCPIP0::20.1.1.15::inst0::INSTR" />
    <add key="ResourceTitle" value="2450" />
    <add key="LineFrequency" value="60" />

    <add key="KeepAliveQueryCommand" value="*OPC?" />
    <add key="KeepAliveCommand" value="*OPC" />
    <add key="ReadTerminationEnabled" value="False" />
    <add key="TerminationCharacter" value="10" />

    <add key="MaximumOutputPower" value="22" />
    <add key="InitialPowerLineCycles" value="1" />
    <add key="InitialAutoZeroEnabled" value="True" />
    <add key="InitialAutoRangeEnabled" value="True" />
    <add key="InitialFrontTerminalsSelected" value="True" />
    <add key="InitialRemoteSenseSelected" value="False" />
    <add key="InitialSenseFunction" value="2" />

    <add key="InitialAutoAutoDelayEnabled" value="True" />
    <add key="InitialSourceFunction" value="1" />
    <add key="InitialSourceLevel" value="0" />
    <add key="InitialSourceLimit" value="1" />

    <add key="AutoZeroEnabled" value="True" />
    <add key="AutoRangeEnabled" value="True" />
    <add key="FrontTerminalsSelected" value="True" />
    <add key="RemoteSenseSelected" value="True" />
    <add key="SenseFunction" value="3" />
    <add key="PowerLineCycles" value="1" />
    <add key="SourceFunction" value="2" />
    <add key="SourceLevel" value="0.02" />
    <add key="ExpectedResistance" value="0" />
    <add key="ExpectedResistanceEpsilon" value="0.1" />

  </appSettings>
</configuration>
