<?xml version='1.0' encoding='UTF-8'?>

<?include ProductPreprocessor.wxi ?>
<?include ProductFoldersPreprocessor.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>

        <DirectoryRef Id='APPLICATIONFOLDER'  DiskId='1' >
            <Directory Id='EXEDIR' Name ='$(var.ProgramFolderName)'/>
            <Directory Id='DocsDir' Name ='$(var.DocsFolderName)'/>
        </DirectoryRef>

        <!-- Features -->
        <FeatureGroup Id='fgid.DirectoryTree'>
            <FeatureGroupRef Id='fgid.ProductMenuFolder' />
        </FeatureGroup>

    </Fragment>
</Wix>
