<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Exists" value="True" />
    <add key="ResourceModel" value="3706A" />
    <add key="IsrResourceName" value="TCPIP0::192.168.0.148::inst0::INSTR" />
    <add key="MicronResourceName" value="TCPIP0::20.1.1.15::inst0::INSTR" />
    <add key="ResourceTitle" value="3706" />
    <add key="LineFrequency" value="60" />

    <add key="KeepAliveQueryCommand" value="*OPC?" />
    <add key="KeepAliveCommand" value="*OPC" />
    <add key="ReadTerminationEnabled" value="False" />
    <add key="TerminationCharacter" value="10" />

    <add key="InitialPowerLineCycles" value="1" />
    <add key="InitialAutoZeroEnabled" value="True" />
    <add key="InitialAutoRangeEnabled" value="True" />
    <add key="InitialSenseFunction" value="4" />

    <add key="ShortChannelList" value="1030;1060;1912;1921" />
    <add key="ResistorChannelList" value="1028;1058;1912;1921" />
    <add key="OpenChannelList" value="1029;1059;1912;1921" />
    <add key="R1ChannelList" value="1001;1031;1912;1921" />
    <add key="R2ChannelList" value="1002;1032;1912;1921" />
    <add key="R3ChannelList" value="1003;1033;1912;1921" />
    <add key="R4ChannelList" value="1004;1034;1912;1921" />

    <add key="IsrBridgeNumber" value="101868" />
    <add key="IsrBridgeR1" value="491" />
    <add key="IsrBridgeR2" value="486" />
    <add key="IsrBridgeR3" value="491" />
    <add key="IsrBridgeR4" value="488" />
    <!--Is rather high to allow temperature effects. -->
    <add key="BridgeMeterEpsilon" value="5" />

    <!--Place holder for micron bridge-->
    <add key="MicronBridgeNumber" value="101868" />
    <add key="MicronBridgeR1" value="487" />
    <add key="MicronBridgeR2" value="483" />
    <add key="MicronBridgeR3" value="487" />
    <add key="MicronBridgeR4" value="485" />


    <add key="AutoZeroEnabled" value="True" />
    <add key="AutoRangeEnabled" value="True" />
    <add key="SenseFunction" value="3" />
    <add key="PowerLineCycles" value="1" />
    <add key="ExpectedZeroResistanceEpsilon" value="0.001" />
    <add key="ExpectedResistance" value="10" />
    <add key="ExpectedResistanceEpsilon" value="0.1" />
    <add key="ExpectedOpen" value="9.9E+37" />

  </appSettings>
</configuration>
